<html>
  <head>
    <meta charset="utf-8">
    <link href="Content/css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Your Address Book</h1>
    <p>Your contact has been successfully added to your Address Book!</p>
    <p>@Model.GetName()</p>
    <p>Phone Number: @Model.GetPhone()</p>
    <p>Address: @Model.GetAddress()</p>
    <p><a href="/">Add Another Contact</a></p>
    <p><a href="/allcontacts">View All of My Contacts</a></p>
  </body>
</html>
