<h1>Your Address Book:</h1>
<p>Here are your current contacts:</p>

<h3>Contacts:</h3>
<p>Here are all your contacts:</p>
<p>Here are all your contacts:</p>


<p><a href="/contact">Add a Contact</a></p>
<form action="/clear" method="post">
  <button type="submit">Clear All Contacts</button>
</form>
